<div class="masthead">
  <div class="full-logo"></div>
  <div class="back-logo"></div>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1
          class="font-weight-light"
          data-aos="fade-up"
          data-aos-offset="0"
          data-aos-duration="1000"
          data-aos-delay="2000">
          BlueMax I/O
        </h1>
        <p
          class="lead"
          data-aos="fade-left"
          data-aos-offset="0"
          data-aos-duration="1000"
          data-aos-delay="2000">
          Node.js and Typescript Framework for creating Amazing, Production ready Software.
        </p>
        <div class="button-group">
          <button
            class="btn btn-primary"
            data-aos="fade-down"
            data-aos-offset="0"
            data-aos-duration="1000"
            data-aos-delay="2000">
            Get Started
          </button>
          <button
            class="btn btn-primary"
            data-aos="fade-down"
            data-aos-offset="0"
            data-aos-duration="1000"
            data-aos-delay="2000">
            Documentation
          </button>
        </div>
        <div
          class="social"
          data-aos="fade-right"
          data-aos-offset="0"
          data-aos-duration="1000"
          data-aos-delay="2000">
          <a href="#">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faNpm"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faStackOverflow"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faYoutube"></fa-icon>
          </a>
        </div>
        <div class="scroll-down">
          <div class="arrow"></div>
          <div class="arrow"></div>
          <div class="arrow"></div>
          <span class="text">Scroll down</span>
        </div>
      </div>
    </div>
  </div>
</div>