//primary colors
$primary: #00A3DD;
$dark: #c2c3c3;
// $custom_dark: #7C809B;
// $custom_secondary: #C3C4DB;
// $custom_light: #FFFFFF;

// //alerts colors
// $custom_info: #66CCFF;
// $custom_warning: #FF9900;
// $custom_success: #7BB31A;
// $custom_danger: #F75757;

// //gray colors
$taupe_gray: #8C8C8C;
$timberwolf: #D8D8D8;
$white_smoke: #F4F4F8;
$snow: #FAFAFA;

// //heights
// $row_min_height: 65px;

// //light shadow
// $card_box_shadow: -9px 10px 15px #f0f0f3;

// //btn-hover
// $custom_primary_hover: #706dce

$font: "Helvetica Neue", "Helvetica", Arial, sans-serif;
