{% extends "body.html" %}

{% block content %}

  <header class="page-header bg-gradient outer">
    {% if page.params.img_path %}
    <div class="bg-img" style="background-image: url('{{ page.params.img_path | relative_url }}')"></div>
    {% endif %}
    <div class="inner-small">
      <h1 class="page-title">{{ page.params.title }}</h1>
      {% if page.params.subtitle %}
      <p class="page-subtitle">{{ page.params.subtitle }}</p>
      {% endif %}
    </div><!-- .inner-small -->
  </header><!--.page-header -->

  <div class="docs-block outer">
    <div class="inner">
      <div class="block-items">
        {% for section in site.data.doc_sections.sections %}
          {% set section_folder = site.data.doc_sections.root_folder | append(section) %}
          {% set section_page_path = section_folder | append("/index.md") %}
          {% set section_page = getPage(section_page_path) %}
          {% set child_pages = getPages(section_folder) | where("basename", "!=", "index.md") %}
          {% set child_count = child_pages | length %}
          {% set has_children = true if child_count > 0 else false %}

          <section class="block-item">
            <div class="block-item-inside">
              <h2 {{ classNames('block-item-title', {'line-left': has_children}) }}><a href="{{ section_page.url | relative_url }}">{{ section_page.title }}</a></h2>
              {% if section_page.excerpt %}
                <p class="block-item-text">{{ section_page.excerpt | safe }}</p>
                <p class="block-item-cta"><a href="{{ section_page.url | relative_url }}">Learn More <span class="icon-arrow-right" aria-hidden="true"></span></a></p>
              {% endif %}
            </div><!-- .block-item-inside -->
          </section><!-- .block-item -->
        {% endfor %}
      </div><!-- .block-items -->
    </div><!-- .inner -->
  </div><!-- .docs-block -->

  {% for section in page.params.sections %}
    {% set include_dict = {'section': section, 'site': site} %}
    {% include section.component %}
  {% endfor %}

{% endblock %}
